{% load static %}
{% load custom_tags %}

<table class="table border " id='company_table'>
    <thead class="thead-dark">
        <tr>
            <th scope="col" class="order">
                <span class='text-light me-1'>Resolve</span>
            </th>
            {% for field in field_names %}
            {% if field != 'Id' %}
                <th scope="col" id='state' onclick="table_sort(event, {{ forloop.counter0 }})" data-col='' >
                    <span class='text-light me-1'>{{field | title}}</span>
                    <span>
                        <svg width="20" height="22" viewBox="0 0 20 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M6 1L5.29289 0.292893C5.68342 -0.0976313 6.31658 -0.0976313 6.70711 0.292893L6 1ZM7 16C7 16.5523 6.55229 17 6 17C5.44772 17 5 16.5523 5 16L7 16ZM0.292893 5.29289L5.29289 0.292893L6.70711 1.70711L1.70711 6.70711L0.292893 5.29289ZM6.70711 0.292893L11.7071 5.29289L10.2929 6.70711L5.29289 1.70711L6.70711 0.292893ZM7 1L7 16L5 16L5 1L7 1Z" fill="white"/>
                            <path d="M14 21L13.2929 21.7071C13.6834 22.0976 14.3166 22.0976 14.7071 21.7071L14 21ZM15 6C15 5.44772 14.5523 5 14 5C13.4477 5 13 5.44772 13 6L15 6ZM8.29289 16.7071L13.2929 21.7071L14.7071 20.2929L9.70711 15.2929L8.29289 16.7071ZM14.7071 21.7071L19.7071 16.7071L18.2929 15.2929L13.2929 20.2929L14.7071 21.7071ZM15 21L15 6L13 6L13 21L15 21Z" fill="white"/>
                        </svg>
                    </span>
                </th>
            {% endif %}
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for item in page_obj %}
        <tr class="spacer"></tr>
        <tr class="group-start">
            <td class="action-btn-td">
                <div class="action-btns-container">
                    <svg onclick="resolveConflict('{{item.original_profile.id}}', '{{item.id}}', 'original');" width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect width="40" height="40" rx="4" fill="#00BF58"/>
                        <path d="M28 14L17 25L12 20" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    <svg class="hide" width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect x="1" y="1" width="38" height="38" rx="3" stroke="#006DEF" stroke-width="2"/>
                        <path opacity="0.4" d="M21.7941 28.3373H28.5253" stroke="#006DEF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M20.9025 12.5646C21.6804 11.5735 22.9376 11.6252 23.9298 12.4031L25.397 13.5537C26.3892 14.3316 26.7407 15.5381 25.9628 16.5314L17.2133 27.6939C16.9209 28.0676 16.4744 28.2882 15.9994 28.2935L12.6248 28.3367L11.8606 25.0487C11.7529 24.5874 11.8606 24.1019 12.153 23.7271L20.9025 12.5646Z" stroke="#006DEF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        <path opacity="0.4" d="M19.2639 14.6553L24.3243 18.6221" stroke="#006DEF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    <svg class="hide" width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect width="40" height="40" rx="4" fill="#FF0000"/>
                        <path d="M27.8483 17.2876C27.8483 17.2876 27.2665 24.5037 26.929 27.5433C26.7683 28.9951 25.8715 29.8458 24.4026 29.8726C21.6072 29.923 18.8087 29.9262 16.0144 29.8672C14.6012 29.8383 13.7194 28.9769 13.5619 27.5508C13.2222 24.4844 12.6437 17.2876 12.6437 17.2876" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M29.3304 13.8287H11.1611" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M25.8294 13.8285C24.9883 13.8285 24.264 13.2339 24.099 12.41L23.8387 11.1071C23.6779 10.506 23.1337 10.0903 22.5133 10.0903H17.9779C17.3576 10.0903 16.8133 10.506 16.6526 11.1071L16.3922 12.41C16.2272 13.2339 15.5029 13.8285 14.6619 13.8285" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>                                                                                    
                </div>
            </td>
            <td title="{{item.original_profile.full_name}}">{{item.original_profile.full_name | default:"--"}}</td>
            <td title="{{item.original_profile.first_name}}">{{item.original_profile.first_name | default:"--"}}</td>
            <td title="{{item.original_profile.last_name}}">{{item.original_profile.last_name | default:"--"}}</td>
            <td title="{{item.original_profile.headline}}">{{item.original_profile.headline | default:"--"}}</td>
            <td title="{{item.original_profile.current_position}}">{{item.original_profile.current_position | default:"--"}}</td>
            <td title="{{item.original_profile.company_name}}">{{item.original_profile.company_name | default:"--"}}</td>
            <td title="{{item.original_profile.person_city}}">{{item.original_profile.person_city | default:"--"}}</td>
            <td title="{{item.original_profile.person_state}}">{{item.original_profile.person_state | default:"--"}}</td>
            <td title="{{item.original_profile.person_country}}">{{item.original_profile.person_country | default:"--"}}</td>
            <td title="{{item.original_profile.person_industry}}">{{item.original_profile.person_industry | default:"--"}}</td>
            <td title="{{item.original_profile.tags}}">{{item.original_profile.tags | default:"--"}}</td>
            <td class="skills-row">
                <div class="skills-cotainer">
                    {% for skills in item.original_profile.person_skills %}
                    <span>{{skills}}</span>
                    {% empty %}
                    --
                    {% endfor %}
                </div>
            </td>
            <td title="{{item.original_profile.education_experience}}">{{item.original_profile.education_experience | default:"--"}}</td>
            <td><a {% if not item.original_profile.company_website %}class="opacity-point-2" href="#" title="no url found."  {% else %} href="{{item.original_profile.company_website}}" target="_blank"{% endif %}>Company Website</a></td>
            <td title="{{item.original_profile.email1}}">{{item.original_profile.email1 | default:"--"}}</td>
            <td title="{{item.original_profile.email2}}">{{item.original_profile.email2 | default:"--"}}</td>
            <td title="{{item.original_profile.phone1}}">{{item.original_profile.phone1 | default:"--"}}</td>
            <td title="{{item.original_profile.phone2}}">{{item.original_profile.phone2 | default:"--"}}</td>
            <td><a {% if not item.original_profile.original_profile.person_linkedin_url %}class="opacity-point-2" href="#" title="no url found."  {% else %} href="{{item.original_profile.person_linkedin_url}}" target="_blank"{% endif %} >LinkedIn</a></td>
            <td title="{{item.original_profile.company_size_from}}">{{item.original_profile.company_size_from | default:"--"}}</td>
            <td title="{{item.original_profile.company_size_to}}">{{item.original_profile.company_size_to | default:"--"}}</td>
            <td title="{{item.original_profile.current_position_2}}">{{item.original_profile.current_position_2 | default:"--"}}</td>
            <td title="{{item.original_profile.current_company_2}}">{{item.original_profile.current_company_2 | default:"--"}}</td>
            <td title="{{item.original_profile.previous_position_2}}">{{item.original_profile.previous_position_2 | default:"--"}}</td>
            <td title="{{item.original_profile.previous_company_2}}">{{item.original_profile.previous_company_2 | default:"--"}}</td>
            <td title="{{item.original_profile.previous_position_3}}">{{item.original_profile.previous_position_3 | default:"--"}}</td>
            <td title="{{item.original_profile.previous_company_3}}">{{item.original_profile.previous_company_3 | default:"--"}}</td>
            <td title="{{item.original_profile.company_city}}">{{item.original_profile.company_city | default:"--"}}</td>
            <td title="{{item.original_profile.company_state}}">{{item.original_profile.company_state | default:"--"}}</td>
            <td title="{{item.original_profile.company_country}}">{{item.original_profile.company_country | default:"--"}}</td>
            <td><a {% if not item.original_profile.person_angellist_url %}class="opacity-point-2" href="#" title="no url found."  {% else %} href="{{item.original_profile.person_angellist_url}}" target="_blank"{% endif %} >AngelList</a></td>
            <td><a {% if not item.original_profile.person_crunchbase_url %}class="opacity-point-2" href="#" title="no url found."  {% else %}  href="{{item.original_profile.person_crunchbase_url}}" target="_blank"{% endif %}>Crunchbase</a></td>
            <td><a {% if not item.original_profile.person_twitter_url %}class="opacity-point-2" href="#" title="no url found."  {% else %} href="{{item.original_profile.person_twitter_url}}" target="_blank"{% endif %}>Twitter</a></td>
            <td><a {% if not item.original_profile.person_facebook_url %}class="opacity-point-2" href="#" title="no url found."  {% else %} href="{{item.original_profile.person_facebook_url}}" target="_blank"{% endif %} >Facebook</a></td>
            <td><a {% if not item.original_profile.company_linkedin_url %}class="opacity-point-2" href="#" title="no url found."  {% else %} href="{{item.original_profile.company_linkedin_url}}" target="_blank"{% endif %} >Company Linkedin</a></td>
            <td><a href="{{item.original_profile.person_image_url}}" target="_blank"><img class="item-img" src="{{item.original_profile.person_image_url}}" alt="person img"></a></td>
            <td><a href="{{item.original_profile.company_logo_url}}" target="_blank"><img class="item-img" src="{{item.original_profile.company_logo_url}}" alt="company logosss"></a></td>
        </tr>
        <tr class="group-end">
            <td class="action-btn-td">
                <div class="action-btns-container">
                    <svg onclick="resolveConflict('{{item.id}}', '{{item.original_profile.id}}', 'duplicate');" width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect width="40" height="40" rx="4" fill="#00BF58"/>
                        <path d="M28 14L17 25L12 20" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    <svg class="hide" width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect x="1" y="1" width="38" height="38" rx="3" stroke="#006DEF" stroke-width="2"/>
                        <path opacity="0.4" d="M21.7941 28.3373H28.5253" stroke="#006DEF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M20.9025 12.5646C21.6804 11.5735 22.9376 11.6252 23.9298 12.4031L25.397 13.5537C26.3892 14.3316 26.7407 15.5381 25.9628 16.5314L17.2133 27.6939C16.9209 28.0676 16.4744 28.2882 15.9994 28.2935L12.6248 28.3367L11.8606 25.0487C11.7529 24.5874 11.8606 24.1019 12.153 23.7271L20.9025 12.5646Z" stroke="#006DEF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        <path opacity="0.4" d="M19.2639 14.6553L24.3243 18.6221" stroke="#006DEF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    <svg class="hide" width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect width="40" height="40" rx="4" fill="#FF0000"/>
                        <path d="M27.8483 17.2876C27.8483 17.2876 27.2665 24.5037 26.929 27.5433C26.7683 28.9951 25.8715 29.8458 24.4026 29.8726C21.6072 29.923 18.8087 29.9262 16.0144 29.8672C14.6012 29.8383 13.7194 28.9769 13.5619 27.5508C13.2222 24.4844 12.6437 17.2876 12.6437 17.2876" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M29.3304 13.8287H11.1611" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M25.8294 13.8285C24.9883 13.8285 24.264 13.2339 24.099 12.41L23.8387 11.1071C23.6779 10.506 23.1337 10.0903 22.5133 10.0903H17.9779C17.3576 10.0903 16.8133 10.506 16.6526 11.1071L16.3922 12.41C16.2272 13.2339 15.5029 13.8285 14.6619 13.8285" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>                                                                                    
                </div>
            </td>
            <td title="{{item.full_name}}">{{item.full_name | default:"--"}}</td>
            <td title="{{item.first_name}}">{{item.first_name | default:"--"}}</td>
            <td title="{{item.last_name}}">{{item.last_name | default:"--"}}</td>
            <td title="{{item.headline}}">{{item.headline | default:"--"}}</td>
            <td title="{{item.current_position}}">{{item.current_position | default:"--"}}</td>
            <td title="{{item.company_name}}">{{item.company_name | default:"--"}}</td>
            <td title="{{item.person_city}}">{{item.person_city | default:"--"}}</td>
            <td title="{{item.person_state}}">{{item.person_state | default:"--"}}</td>
            <td title="{{item.person_country}}">{{item.person_country | default:"--"}}</td>
            <td title="{{item.person_industry}}">{{item.person_industry | default:"--"}}</td>
            <td title="{{item.tags}}">{{item.tags | default:"--"}}</td>
            <td class="skills-row">
                <div class="skills-cotainer">
                    {% for skills in item.person_skills %}
                    <span>{{skills}}</span>
                    {% empty %}
                    --
                    {% endfor %}
                </div>
            </td>
            <td title="{{item.education_experience}}">{{item.education_experience | default:"--"}}</td>
            <td><a {% if not item.company_website %}class="opacity-point-2" href="#" title="no url found."  {% else %} href="{{item.company_website}}" target="_blank"{% endif %}>Company Website</a></td>
            <td title="{{item.email1}}">{{item.email1 | default:"--"}}</td>
            <td title="{{item.email2}}">{{item.email2 | default:"--"}}</td>
            <td title="{{item.phone1}}">{{item.phone1 | default:"--"}}</td>
            <td title="{{item.phone2}}">{{item.phone2 | default:"--"}}</td>
            <td><a {% if not item.person_linkedin_url %}class="opacity-point-2" href="#" title="no url found."  {% else %} href="{{item.person_linkedin_url}}" target="_blank"{% endif %} >LinkedIn</a></td>
            <td title="{{item.company_size_from}}">{{item.company_size_from | default:"--"}}</td>
            <td title="{{item.company_size_to}}">{{item.company_size_to | default:"--"}}</td>
            <td title="{{item.current_position_2}}">{{item.current_position_2 | default:"--"}}</td>
            <td title="{{item.current_company_2}}">{{item.current_company_2 | default:"--"}}</td>
            <td title="{{item.previous_position_2}}">{{item.previous_position_2 | default:"--"}}</td>
            <td title="{{item.previous_company_2}}">{{item.previous_company_2 | default:"--"}}</td>
            <td title="{{item.previous_position_3}}">{{item.previous_position_3 | default:"--"}}</td>
            <td title="{{item.previous_company_3}}">{{item.previous_company_3 | default:"--"}}</td>
            <td title="{{item.company_city}}">{{item.company_city | default:"--"}}</td>
            <td title="{{item.company_state}}">{{item.company_state | default:"--"}}</td>
            <td title="{{item.company_country}}">{{item.company_country | default:"--"}}</td>
            <td><a {% if not item.person_angellist_url %}class="opacity-point-2" href="#" title="no url found."  {% else %} href="{{item.person_angellist_url}}" target="_blank"{% endif %} >AngelList</a></td>
            <td><a {% if not item.person_crunchbase_url %}class="opacity-point-2" href="#" title="no url found."  {% else %}  href="{{item.person_crunchbase_url}}" target="_blank"{% endif %}>Crunchbase</a></td>
            <td><a {% if not item.person_twitter_url %}class="opacity-point-2" href="#" title="no url found."  {% else %} href="{{item.person_twitter_url}}" target="_blank"{% endif %}>Twitter</a></td>
            <td><a {% if not item.person_facebook_url %}class="opacity-point-2" href="#" title="no url found."  {% else %} href="{{item.person_facebook_url}}" target="_blank"{% endif %} >Facebook</a></td>
            <td><a {% if not item.company_linkedin_url %}class="opacity-point-2" href="#" title="no url found."  {% else %} href="{{item.company_linkedin_url}}" target="_blank"{% endif %} >Company Linkedin</a></td>
            <td><a href="{{item.person_image_url}}" target="_blank"><img class="item-img" src="{{item.person_image_url}}" alt="person img"></a></td>
            <td><a href="{{item.company_logo_url}}" target="_blank"><img class="item-img" src="{{item.company_logo_url}}" alt="company logosss"></a></td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="9" class="no-record-row">No Record Available</td>
        </tr>
        {% endfor %}
    </tbody>
</table>