.auth-section {
    max-width: 1920px;
}

.content-container {
    /* padding-right: 100px; */
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
}
.login-form-container {
    background: #FFFFFF;
    max-width: 650px;
    width: 100%;
    /* height: 751px; */
    border-radius: 30px;
    padding: 30px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    justify-content: space-between;
}

.login-form-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.login-form-content h1 {
    font-size: 2.375rem;
    font-weight: 800;
    line-height: 57px;
    margin-bottom: 0px;
}

.login-form-content > span {
    font-size: 1.375rem;
    font-weight: 500;
    line-height: 33px;
    text-align: center;
    color: var(--text-field-heading);
    max-width: 407px;
}

.login-form-container form {
    max-width: 450px;
}

.login-input-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.login-input-group label {
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 27px;
    text-align: left;
    color: var(--text-field-heading);
}

.login-input-group > div {
    display: flex;
    flex-direction: column;
    gap: 5px;
    position: relative;
    width: 100%;
}

.login-input-group > div > div {
    display: flex;
    align-items: center;
}

.login-input-group > div > div input {
    width: 100%;
    max-width: 450px;
    height: 55px;
    border: 2px solid transparent;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 2px #7C00F41A;
    padding-left: 44px;
    padding-right: 10px;
    line-height: 24px;
}

.login-input-group > div > div input:focus {
    border: 2px solid var(--primary-color);
    outline: none;
}

.login-input-group > div > div svg {
    position: absolute;
    left: 10px;
}

.login-input-group .forgot-password-text {
    font-size: 1rem;
    font-weight: 700;
    line-height: 24px;
    text-align: right;
    color: var(--primary-color);
    text-decoration: none;
}

.login-input-group input[type="password"] {
    padding-right: 35px!important;
}

.login-input-group .show-hide-icon {
    position: absolute;
    right: 10px;
    left: unset;
}

.login-btn-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.login-btn {
    width: 300px;
    height: 59px;
    border: none;
    border-radius: 15px;
    background: var(--primary-color);
}

.login-btn > span {
    color: #FFFFFF;
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 30px;
    text-align: center;
}

.login-btn-container > span {
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 27px;
    text-align: center;
}

.login-btn-container > span > a {
    text-decoration: none;
    font-weight: 700;
    color: var(--primary-color);
}

.bottom-div {
    /* height: 70px; */
    background: #070C29;
    box-shadow: 0px 0px 5px 2px #5266FF1A;
    padding-top: 20px;
    padding-bottom: 20px;
}

.bottom-div span,
.bottom-div a {
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 23.4px;
    color: #ABAEC7;
    text-decoration: none;
}

.copyright-div {
    display: flex;
    align-items: center;
    gap: 5px;
}

.h-custom {
    height: calc(100% - 70px);
}


@media (max-width: 1480px) {
    .content-container {
        /* padding-right: 50px; */
    }
}


@media (max-width: 900px) {
    .content-container {
        padding-top: 1.5rem!important;
        padding-bottom: 1.5rem!important;
        padding-left: 10px;
        padding-right: 10px;
    }
    
    .login-form-container {
        gap: 20px;
    }

    .login-form-content {
        gap: 10px;
    }

    .login-form-content h1 {
        font-size: 1.875rem;
        line-height: 44px;
    }

    .login-form-content > span {
        font-size: 1.125rem;
        line-height: 26px;
    }
}


@media (max-width: 450px) {
    .h-custom {
        height: 100%;
    }
}