.back-btn {
    width: 40px !important;
    height: 40px !important;
}

.main-content-header h1 {
    font-size: 20px;
    font-weight: 700;
    line-height: 28.72px;
    letter-spacing: 0.03em;
    text-align: left;
    margin: 0;
}

.personal-info-container > h1 {
    font-size: 1.25rem;
}